h3{
    font-size:35px;
    font-family: 'Special Elite', cursive;
}

h5{
    font-family: 'Special Elite', cursive; 
}

.dropdown a {
    font-size: 18px;
    color: #ffffff;
    font-family: 'Special Elite', cursive;
    font-weight: bold; 
}
