{% load static %}

<footer class="page-footer text-center text-md-left elegant-color-dark">
    <div class="container-fluid py-3">
        <div class="flex-center">
            <ul class="list-unstyled">
                <li>
                    <h2 class="h2-responsive fadeIn">
                        <i class="fas fa-quote-left" aria-hidden="true"></i>
                        I like all sorts of art, that's why I love wandering around The National Gallery.
                        <i class="fas fa-quote-right" aria-hidden="true"></i>
                    </h2>
                </li>
                <li>
                    <h3 class="font-italic white-text fadeIn">
                        ~ Collins Akumu
                    </h3>
                </li>
            </ul>
        </div>
    </div>
</footer>