{% load static %}
{% include "head.html" %}

<header>
    <div style="background-image:url('https://images.unsplash.com/photo-1561926797-fa9e23386fe6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80');
        background-size:cover;
        background-repeat:no-repeat;
        background-position:center center;
        min-height:637px">
        <div class="container h-100 d-flex justify-content-center align-items-center">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <h1 class="display-3 font-weight-bold pb-3 mb-2 fadeIn" style="color: black;">Collins<span style="color: #ffa733;">Gallery</span></h1>
                        <h2 class="white-text fadeIn">The nice thing about this gallery app is that
                            without having to pay any money you can just go and see every bit of it.</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

{% include "scripts.html" %}